

<div class="container home-container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Ingresar los siguientes datos
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input type="text" class="form-control" placeholder="Ingresar el nombre del estudiante">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Apellido</label>
                        <input type="text" class="form-control" placeholder="Ingresar el apellido del estudiante">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Profesión</label>
                        <input type="text" class="form-control" placeholder="Ingresar la profesión del estudiante">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Resultado del ingreso de los datos
                </div>
                <div class="card-body">
                    <h5 class="card-title">NOMBRE:</h5>
                    <div class="alert alert-primary" role="alert">
                        poner texto aquí
                    </div>
                    <h5 class="card-title">APELLIDO:</h5>
                    <div class="alert alert-primary" role="alert">
                        poner texto aquí
                    </div>
                    <h5 class="card-title">PROFESIÓN:</h5>
                    <div class="alert alert-primary" role="alert">
                        poner texto aquí
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>