<div class="container home-container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">Hola, clase!</h1>
                <p class="lead">Esta es la prueba práctica para el <b>QUIZ</b> del segundo corte. La prueba consiste en desarrollar la interacción de cada componente de la aplicación, pero teniendo en cuenta que toda la información debe salir del controlador de cada componente.</p>
                <hr class="my-4">
                <p>Para obtener más información de esta prueba práctica de click en el botón <b>"Abrir guía del ejercicio"</b> para seguir con detalle los pasos.</p>
                <a class="btn btn-primary btn-lg" href="/assets/guia-quiz.pdf" role="button" target="_blank">Abrir guía del ejercicio</a>
            </div>
        </div>
    </div>
</div>