<div class="container home-container">
    <div class="row">
        <div class="col-12">


            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id usuario</th>
                        <th scope="col">Id Post</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    <ng-container *ngFor="let data of data">
                        <tr>
                            <th scope="row">{{data.userId}}</th>
                            <td>{{data.id}}</td>
                            <td>{{data.title}}</td>
                            <td>
                                <a class="btn btn-info" href="detailStudent/1111" role="button">Ver información</a>
                            </td>
                        </tr>
                    </ng-container>

                </tbody>
            </table>

        </div>
    </div>
</div>